.grid {
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto 25vh;
    grid-auto-flow: row;
    overflow: hidden;
}

footer {
    grid-row: 5;
    grid-column: 1;
}

section {
    margin: 5vh 10vw;
}

/* Section1 */

.homesection1 {
    margin-top: 0;
    grid-row: 1;
    width: 50%;
}

.homesection1 .upper {
    margin: 15vh 0 5% 0;
}

.homesection1 .upper h1 {
    font-size: 3.5rem;
    margin-bottom: 3vh;
}

.homesection1 .upper p {
    font-size: 1.2rem;
    width: 80%;
}

.homesection1 .lower {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(2, 50%);
    row-gap: 15%;
    column-gap: 3%;
}

.homesection1 .lower a {
    display: flex;
    align-items: center;
    gap: 5%;

    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.homesection1 .lower a:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.homesection1 .lower a:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.oblibene {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;

    grid-row: 2;
    grid-column: 1 / 3;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 3vh;
}

.favtop4 {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.fav {
    border: 1px solid black;
    border-radius: 2rem;
    width: calc(80vw / 3);
    height: 25vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.favtop4 a.link1 {
    background-image: url(../images/monza.jpg);
}
.favtop4 a.link2 {
    background-image: url(../images/monaco.jpg);
}
.favtop4 a.link3 {
    background-image: url(../images/spa.jpg);
}

.oblibene a:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.oblibene a:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.fav .name {
    position: inherit;
    background-color: rgba(255, 255, 255, 0.525);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all 0.15s ease-in-out;
}

.fav .name:hover {
    background-color: rgba(255, 255, 255, 0.316);
}

.fav .name:active {
    color: transparent;
    background-color: transparent;
}

.minulost {
    grid-column: 1;
    grid-row: 4;
}

.minulost .bloky {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: space-evenly;
}

.block {
    border: solid 1px black;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    height: 50vh;
}

.block .left {
    width: 50%;
    overflow: hidden;
}

.block .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block .right {
    width: 50%;
    padding: 5vh;
    font-size: 1.2rem;
}

.block .name {
    font-size: 1.5rem;
    font-weight: 900;
}
.block .country {
    margin-top: 1vh;
}
.block .year {
    margin-bottom: 1vh;
}

.aktualni {
    grid-column: 1;
    grid-row: 3;
}

.aktualni .bloky {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
    row-gap: 4vh;
}   

.aktualni .race {
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aktualni .race .left {
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.aktualni .race img {

    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
    gap: 1vh;
}

.aktualni .race .right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 20%;
}