.vsechny {
    grid-column: 1;
    grid-row: 3;
}

.vsechny .bloky {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
    row-gap: 4vh;
}   

.vsechny .smolblok {
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vsechny .smolblok .left {
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.vsechny .smolblok img {

    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
    gap: 1vh;
}

.vsechny .smolblok .right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 20%;
}